<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-empresa">
        </div>
        <br>
        <div>
            <input type="text" placeholder="Buscar ...">
        </div>
        <br>
        <div>
            Comprá en cuotas y sin tarjeta de crédito
        </div>
        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                <div>
                    <div>$6.770</div>
                    <div>40% OFF</div>
                    Cafetera Moulinex
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <div>$230.000</div>
                    <div>20% OFF</div>
                    MacBook Pro 2019
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <div>$70.500</div>
                    <div>10% OFF</div>
                    Samsung Galaxy S10
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                <div>
                    <div>$23.200</div>
                    <div>5% OFF</div>
                    SmartTv Samsung 43"
                </div>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                <div>
                    <div>$6.770</div>
                    <div>40% OFF</div>
                    Cafetera Moulinex
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <div>$230.000</div>
                    <div>20% OFF</div>
                    MacBook Pro 2019
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <div>$70.500</div>
                    <div>10% OFF</div>
                    Samsung Galaxy S10
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                <div>
                    <div>$23.200</div>
                    <div>5% OFF</div>
                    SmartTv Samsung 43"
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envió gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>