<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="content-header">
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-empresa">
        </div>
        <div>
            <input class="search-bar"  type="text" placeholder="Buscar productos, marcas ">
        </div>
        <div class="content-title">
            <i id="header-icon"  class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjetas de crédito
        </div>
        <nav>
            <ul class="nav-bar">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
        </nav>
        <nav>
            <ul class="login-bar">
                <li>Creá tu cuenta<i id="icon-login-bar" class="fa-regular fa-id-card"></i></li>
                <li>Ingresá<i id="icon-login-bar" class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis compras<i id="icon-login-bar" class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2 class="section">Basado en tu última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                <div>
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% OFF</div>
                    Cafetera Moulinex
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    MacBook Pro 2019
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% OFF</div>
                    Samsung Galaxy S10
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                <div>
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% OFF</div>
                    SmartTv Samsung 43"
                </div>
            </div>
        </section>
        <section>
            <h2 class="section">Ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                <div>
                    <div class="precio">$6.770</div>
                    <div class="descuento">40% OFF</div>
                    Cafetera Moulinex
                </div>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div>
                    <div class="precio">$230.000</div>
                    <div class="descuento">20% OFF</div>
                    MacBook Pro 2019
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <div class="precio">$70.500</div>
                    <div class="descuento">10% OFF</div>
                    Samsung Galaxy S10
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                <div>
                    <div class="precio">$23.200</div>
                    <div class="descuento">5% OFF</div>
                    SmartTv Samsung 43"
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envió gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>